<h2>Add Favorite Pokemon</h2>
<form [formGroup] = "pokemonForm" (ngSubmit) = "onSubmit()">
    <input formControlName="name" placeholder="Name">
    <input formControlName="type" placeholder="Type">
    <input type="number" formControlName="level" placeholder="Level">
    <input formControlName="nature" placeholder="Nature">

    <button type="submit" [disabled]="!pokemonForm.valid">Save to Database</button>
</form>
<h2>Gary's Winning Team</h2>
@for (p of pokemonService.pokemonList(); track p._id) {
    <div class="card">
        <h3>{{ p.name }} (lvl {{ p.level }} )</h3>
        <p>{{ p.type }} | {{ p.nature }}</p>
    </div>
} @empty {
    <p>No Pokemon recorded.</p>
}